<div class="container m-5">
    <div class="">
        <h1 class="text-start">Login</h1>
        <hr>
        <form class="form mt-3" [formGroup]="myLoginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword"></label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
            </div>
            <p href="">Dont have an account ?<a (click)="redirectToRegister()" style="cursor: pointer; color:rgb(214, 102, 102);"> Register now </a>  </p>

            <button type="submit" class="btn btn-submit mt-3">Login</button>
            
        </form>
    </div>

    Student Login : tejasv.tagline@gmail.com <br>
    Teacher Login : tejasvteacher.tagline@gmail.com
</div>