<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <app-counter-output></app-counter-output>
        </div>
        <div class="col-md-12">
            <app-counter-buttons></app-counter-buttons>
        </div>
        <div class="col-md-12 mt-4">
            <app-custom-counter-input></app-custom-counter-input>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-counter-output [counter]="counter"></app-counter-output>
        </div>
        <div class="col-md-12">
            <app-counter-buttons
                (increment)="onIncrement()"
                (decrement)="onDecrement()"
                (reset)="onReset()"
            ></app-counter-buttons>
        </div>
    </div>
</div> -->