<div class="row">
    <div class="col-md-12 my-3">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <h3 class="text-center">Add new post</h3> <hr>
            <div class="form-group">
                <input type="text" class="form-control my-3" placeholder="Enter Title" formControlName="title">
            </div>
            <div class="form-group">
                <textarea class="form-control my-3" placeholder="Enter Description" formControlName="description"></textarea>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">Add Post</button>
            </div>
        </form>
    </div>
</div>