<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
                <a class="btn btn btn-primary mt-3" [routerLink]="['/posts/add']">
                    Add New Post
                </a>
            </div>
            <table class="table table-striped my-3">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of posts$| async">
                        <th scope="row">{{post.id}}</th>
                        <td>{{post.title}}</td>
                        <td>{{post.description}}</td>
                        <td><a [routerLink]="['edit',post.id]" class="btn btn-primary">Update</a></td>
                        <td><a class="btn btn-danger" (click)="deletePost(post.id)">Delete</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-4 mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>